[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
dj-database-url = "*"
django = "1.9.8"
gunicorn = "19.7.1"
psycopg2 = "*"
whitenoise = "*"

[requires]
python_version = "3.6"