{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>alert('Upload seccessfull')</script>




<div id="MainDiv" class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
            <h1>Your File Upload seccessfull</h1>
            <p><a href="{% url 'home' %}">Return to home</a></p>
    </div>
  </div>
</div>